body {
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
    height: 100%; /* Asegura que el body ocupe toda la altura de la ventana */
  }